.todo-add-input {
  font-size: 1.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 100%;
  max-width: 256px;
  margin-right: .16rem;
  &--select {
    
  }
  &--time {
    font-size: 1.1rem;
  }
}
