.todo-add-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  &__button {
    font-size: 3rem;
    line-height: 0;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background-color: #5897FE;
    border: 0;
    color: #fff;
    cursor: pointer;
  }
}
